# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert.ipynb

# IPython
profile_default/
ipython_config.py

# Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# pyenv
.python-version

# PEP 582; used by e.g. pdm/pyflow
__pypackages__/

# Type checkers
.mypy_cache/
.pyre/
.pytype/
dmypy.json
.dmypy.json

# Cython debug symbols
cython_debug/

# dotenv environment variables
.env
.env.*
!.env.example

# IDEs and editors
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and temp files
*.log
*.tmp
*.temp
~$*
*.bak

# Прочие папки проекта
/restored/
/blured/
/blurred/
/data/
/dataset/
/images_dataset/
/implementations/
/kernels/
/parametrs/
/results/
/dataset_blurred/
/alg_test/
/pareto_analysis/
/preprocess/
/docs/_build/

# Прочие файлы
/benchmark_generation.ipynb
/benchmark_generation_1.ipynb
/bind_dataset.py
/bind_dataset_1.py
/generate_dataset.py
/generator.py
/main5.ipynb
/main_2.ipynb
/main3.ipynb
/main4.ipynb
/test_bind.ipynb
/test_bind_1.ipynb
/test_full_process.ipynb
/test_param_search.ipynb
/test_process.ipynb
/test.ipynb
/main.ipynb
/main6.ipynb
/extensions.py
/prompt.txt
