# Image processing
Pillow
PyWavelets
scikit-image
imageio
tifffile
opencv-python

# Machine learning
numpy
scipy
pandas

# Optimization & math
optuna

# GUI & visualization
matplotlib

# Development tools
setuptools
ipython
pytest
flake8
sphinx
sphinx-rtd-theme
