# Image processing
Pillow
PyWavelets
scikit-image
imageio
tifffile
opencv-python
oct2py
pydantic
pydantic_settings
bm3d
curvelets
cython

# Machine learning
numpy
scipy
pandas

# Optimization & math
optuna

# GUI & visualization
matplotlib

# CLI & automation
click
pyyaml
jsonschema

# Development tools
setuptools
ipython
pytest
flake8
sphinx
sphinx-rtd-theme
